@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');
:root {
    --Blue-color: #2baaec;
    --Green-color: #25e6c8;
    --Title-color: #363636;
    --Text-color: #626262;
    --Placehold-color: #dedede;
    --Background-color: #f7f7f7;
    --Text-footer-color: #f3fbff;
    --Placehold-color-2: #bfbfbf;
    --Border-color-opacity-60: #70707099;
    --White-color-opacity-60: #ffffff99;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* CSS rules to specify families */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
}

.container {
    width: 75%;
    margin: auto;
}
.d-flex {
    display: flex;
}

.top-menu {
    background-color: var(--White-color-opacity-60);
    border: 1px solid var(--Border-color-opacity-60);
    padding: 1.3rem 0;
}
.top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info i {
    color: var(--Blue-color);
    font-size: 20px;    
}
.info p {
    margin-left: 0.5rem;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: var(--Text-color);
}
.social-icons a {
    color: var(--Blue-color);
    padding-left: 1.5rem;
}
.social-icons a:hover {
    color: var(--Green-color);
}
.main-menu {
    padding: 3rem 0;
}
.main-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo {
    
} */
.navbar {
    list-style: none;
    display: flex;
    
}
.navbar a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: var(--Title-color);
    padding-left: 2.5rem;
}
#showcase {
    background-color: var(--Placehold-color);
}
#showcase img {
    margin-top: 1.3rem;
    margin-bottom: 0px;
}
#showcase .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider {
    width: 50%;
    padding: 1rem;

} 
.slider h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 60px;
    color: var(--Title-color);
    margin-bottom: 2.5rem;
}
.slider p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--Text-color); 
    margin-bottom: 2.5rem;
}
.btn {
    padding: 1rem 3rem;
    border: 2px solid transparent; 
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.btn-green {
    background-color: var(--Green-color);
    color: #fff;
}
.btn-white {
    background-color: #fff;
    color: var(--Blue-color);
}
.btn-green:hover {
    background-color: var(--Blue-color);
    
}
.btn-white:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
#about-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about-us img {
    margin-top: 5rem;
}
.about {
    width: 50%;
}
.about h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--Title-color);
}
.about span {
    color: var(--Blue-color);
}
.about p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--Text-color);
}
.line {
   width: 100%;
   height: 4px;
   background-color: var(--Green-color);
   margin-top: 1.25rem;
   margin-bottom: 3rem;
}
.numbers {
    width: 578px;
    margin-top: 3.75rem;
    display: flex;
    justify-content: space-between;
}
.numbers h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--Blue-color);
}
.numbers p {
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--Title-color);
}
#services {
    padding-top: 9rem;
    background-color: var(--Background-color);
    padding-bottom: 9rem;
}
.heading {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    border-bottom: 4px solid var(--Green-color);
    text-align: center;
    padding-bottom: 1.25rem;
    margin-bottom: 70px;   
}
.heading h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    color:var(--Title-color);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 2rem;
    justify-content: center;
}
.box-service {
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
    height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
        
}
.box-service:hover {
    box-shadow: 0px 10px 30px #0000001a;
    
}
.box-service:hover .icon-background {
    background-color: var(--Blue-color);
    outline: 10px solid #2baaec33;
}
.box-service h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 22px;
    color: var(--Title-color);
}
.box-service p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--Text-color);
    margin-top: 1rem;
}
.text-center {
    text-align: center;
}
.icon-background {
    background-color: var(--Green-color);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#appointment {
    background-color:#2ba8eccc;
    padding: 5.5rem 0;
}
#appointment .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#appointment p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}
#foot {
    background-color: var(--Blue-color);
    padding: 2rem 0;
}
#foot p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#f3fbff99;
}
