@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');
:root {
    --Blue-color: #2baaec;
    --Green-color: #25e6c8;
    --Title-color: #363636;
    --Text-color: #626262;
    --Placehold-color: #dedede;
    --Background-color: #f7f7f7;
    --Text-footer-color: #f3fbff;
    --Placehold-color-2: #bfbfbf;
    --Border-color-opacity-60: #70707099;
    --White-color-opacity-60: #ffffff99;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* CSS rules to specify families */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
}

.container {
    width: 80%;
    max-width: 1410px;
    margin: auto;
}
.top-menu {
    background-color: var(--White-color-opacity-60);
    border: 1px solid var(--Border-color-opacity-60);
    padding: 1.3rem 0;
}
.top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info i {
    color: var(--Blue-color);
    font-size: 20px;    
}
.info p {
    margin-left: 0.5rem;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: var(--Text-color);
}
.social-icons a {
    color: var(--Blue-color);
    padding-left: 1.5rem;
}
.social-icons a:hover {
    color: var(--Green-color);
}
.main-menu {
    padding: 3rem 0;
}
.main-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    list-style: none;
    display: flex;
    
}
.navbar a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: var(--Title-color);
    padding-left: 2.5rem;
}
.navbar-toggler {
    display: none;
    color: var(--Blue-color);
    font-size: 3rem;
}
#showcase {
    background-color: var(--Placehold-color);
}
.woman img {
    margin-bottom: -3px;
    margin-left: -2rem;
    margin-top: 1.3rem;
    margin-right: 1rem; 
}
#showcase .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider {
    width: 50%;
} 
.slider h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 60px;
    color: var(--Title-color);
    margin-bottom: 2.5rem;
}
.slider p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--Text-color);
    line-height: 1.5; 
    /* margin-bottom: 2.5rem; */
}
.slider .btn-green {
    margin-top: 2.5rem;
}
.btn {
    padding: 1rem 3rem;
    border: 2px solid transparent; 
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.btn-green {
    background-color: var(--Green-color);
    color: #fff;
}
.btn-white {
    background-color: #fff;
    color: var(--Blue-color);
}
.btn-green:hover {
    background-color: var(--Blue-color);
    
}
.btn-white:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

#about-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about-us img {
    margin-top: 5rem;
}
.about {
    width: 50%;
}
.about h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--Title-color);
}
.about span {
    color: var(--Blue-color);
}
.about p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--Text-color);
    line-height: 1.5;
}
.line {
   width: 100%;
   height: 4px;
   background-color: var(--Green-color);
   margin-top: 1.25rem;
   margin-bottom: 3rem;
}
.numbers {
    padding-right: 8rem;
    margin-top: 3.75rem;
    display: flex;
    justify-content: space-between;
}
.numbers h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--Blue-color);
}
.numbers p {
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--Title-color);
}
.man img {
    margin-bottom: -4px;
    padding-right: 6rem;
}

#services {
    padding-top: 9rem;
    background-color: var(--Background-color);
    padding-bottom: 9rem;
}
.heading {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 450px;
    border-bottom: 4px solid var(--Green-color);
    text-align: center;
    padding-bottom: 1.25rem;
    margin-bottom: 70px;   
}
.heading h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    color:var(--Title-color);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 1.8rem;
    justify-content: center;
}
.box-service {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 71px 50px; 
      
}
.box-service:hover {
    transition-delay: 0.3s;
    box-shadow: 0px 10px 30px #0000001a;
    
}
.box-service:hover .icon-background {
    background-color: var(--Blue-color);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    box-shadow: 0 0 0 10px #2baaec33;
}
.box-service h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 22px;
    color: var(--Title-color);
    margin-bottom: 1rem;
}
.box-service p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--Text-color);
    line-height: 1.5;
    
}
.text-center {
    text-align: center;
}
.icon-background {
    background-color: var(--Green-color);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 3rem;
    position: relative;
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#appointment {
    background-color:#2ba8eccc;
    padding: 5.5rem 0;
}
#appointment .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#appointment p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}
#foot {
    background-color: var(--Blue-color);
    padding: 2rem 0;
}
#foot p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#f3fbff99;
}

.border {
    border: 1px solid red;
}
/* DESKTOP FIRST */
/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    .woman img {
        margin-right: 1rem;
        padding: 0;
        width: 100%;
    }
    .man {
        display: none;
    }

    #about-us {
        padding-block: 8rem;
    }
    .woman {
                  
        flex: 1;
    }
    .slider {
        /* width: 100%; */
        flex: 1;
        
    }
    #showcase .container {
        justify-content: center;
    }
    .about {
        width: 100%;
        display: flex;
        align-items: center;
        
    }
    .about-text {
        flex: 2;
    }
    .numbers {
        padding: 0;
        margin: 0;
        flex: 1;
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }
    
    
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    #appointment .container {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .navbar {
        display: none;
    }
    .navbar-toggler {
        display: block;
    }
    #showcase, #about-us, #services, #appointment {
        padding-block: 3rem;
    }
    .woman {
        display: none;
    }
    .slider {
        text-align: center;
    }
    .about-text {
        display: none;
    }
    

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .container {
        width: 100%;
        max-width: 614px;
    }
    .top-menu {
        display: none;
    }

}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .container {
       padding: 0 0.5rem;
    }
    .grid {
        
        grid-template-columns: repeat(auto-fill, 350px);
        
    }
    .heading {
        max-width: 350px;
    } 
    .box-service {
        padding: 2rem 0rem; 
    }

}
@media (max-width: 375px) {

}
    


